.categories-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.category-image {
  border-radius: 50%;
  object-fit: cover;
}

.category-name {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

button {
  font-size: 14px;
  padding: 12px;
  font-weight: 700;
}
